.resto-name {
  text-align: center;
  background: #42241B;
  padding: 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  color: white;
  font-family: deco;
  font-size: 60px;
  margin-top: 0;
}
.heady {
  display: flex;
  justify-content: space-around;
  background: #42241B;
  padding: 20px;
  
}
main {
    height: 100vh;
    background-image: url("accueil-image/resto image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    color: white;
    padding:  50px;
    height: 500px;
}
.back-text {
  text-align: center;
}
.texty {
  margin: 80px;
  font-size: 30px;
  font-family: deco;
  letter-spacing: 4px;
}
@font-face {
  src: url('Astonia_Demo.otf');
  font-family: deco;
}
.btn1 {
  padding: 10px 45px;
    border-radius: 10px;
    background: wheat;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border: #ccc;
    cursor: pointer;
    margin-bottom: 20px;
  
}
a {
  color: #ccc;
  font-size: 24px;
  font-family: deco;
}
  
.plats {
 width: 400px;
 
  
   border-radius:5px ;
   margin-right:px;
   margin-left:30px;
   
   
}
.block {
 text-align: center;
 display: flex;
 justify-content: center;
 
}

.nos-spe {
  text-align: center;
  margin: 30px auto 50px auto;
  border-bottom: 2px solid #ccc;
  width: 20%;
  color: #D7C3AA;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
}
 .food-name{
   margin: 30px auto 50px auto;
  border-bottom: 2px solid #ccc;
  width: 50%;
  color: #D7C3AA;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
}
.copyright {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-top: 10px;
}
.reso {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 5px;
}
#foot {
  text-align: center;
  background: #00151E;
  color: white;
}