.men-img{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    text-align: center;
    
    
}


.pla-img {
    border-radius: 10px;
}
   
 
   
   
   
 

.repas {
    
 height: auto;
  width: 90%;
  color: #D7C3AA;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  padding: 20px;
border-radius: 35px;
}

.nom-repas{
   margin: 30px auto 50px auto;
  border-bottom: 2px solid #ccc;
  width: 40%;
  color: whitesmoke;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  
  
}
body {
    background: wheat;
    
}
.resto-name {
  text-align: center;
  background: #42241B;
  padding: 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  color: white;
  font-family: deco;
  font-size: 60px;
  margin-top: 0;
}
.heady {
  display: flex;
  justify-content: space-around;
  background: #42241B;
  padding: 20px;
  font-family: deco;
  font-size: 24px;
  
}
@font-face {
  src: url('Astonia_Demo.otf');
  font-family: deco;
}
.no-me{
    text-align: center;
  margin: 50px auto 50px auto;
  border-bottom: 2px solid #ccc;
  width: 15%;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;

    
}
a {
  color: #ccc;
  font-size: 24px;
  font-family: deco;
}

a:active {
    color: black;
}
